<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="FEED_GENERATOR_APPENDER" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log/feed_generator_%d.log" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %C (%F:%L) - %m%n" />
		</layout>
	</appender>
	
	<category name="com.nature.feeds" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="FEED_GENERATOR_APPENDER" />
	</category>
		
</log4j:configuration>
